.circle {
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: linear-gradient(45deg, #c594ee 60%, #c9d9df);
    animation: animation 6s linear infinite;
    animation-delay: 1ms;
}

.inspire_expire::after{
  content: "";
	animation: spin 6s infinite;
}

.border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: solid 5px white;
}

span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #36015d;
    font-size: 65px;
}
  
@keyframes animation {
    0%, 25% {
      transform: scale(1);
    }
    25%, 50% {
      transform: scale(1.1);
    }
  }

  @keyframes spin {
    0% { content:"Inspire"; }
    100% { content:"Expire"; }
  }
