:root{
    /* COLORS */
    --dark-color: linear-gradient(180deg, #36015d, black);
    --dark-icon-color: #fff;
    --light-color: #f7f7f7;
    --light-color-bk: linear-gradient(180deg, #22abd4, rgb(167, 218, 241));
    --light-icon-color: #FFDE59;
    --b--color: #36015d;
    --footer:rgb(51, 51, 51);
}

.dark-theme{
    background: var(--dark-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    background: var(--light-color-bk);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 120deg;
}

.color h2{
    color: var(--light-color);
}

h2{
    color: var(--b--color);
    position: absolute;
    left: 160px;
}

.color main p{
    color: var(--light-color);
}

main p{
    text-transform: uppercase;
    color: var(--b--color);
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-footer{
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 930px; 
    border-width: 80%;
    padding-top: 50px;
    border-top: solid;
    border-color: var(--b--color);
}

.email_icon, .phone_icon, .insta, .face, .linkedin{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.email-f, .tel-f{
    display: inline-block;
}

.insta, .face, .linkedin{
    position: relative;
}

.insta{
    left: 70%;
    transform: translate(-50%);
}

.face{
    left: 72%;
    transform: translate(-50%);
}

.linkedin{
    left: 71%;
    transform: translate(-50%);
}

.footer_center{
    color: #36015d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right_footer{
    position: absolute;
    top: 50%;
    left: 92.2%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
    .email_icon, .phone_icon, .insta, .face, .linkedin{
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }
    .right_footer{
        position: absolute;
        top: 50%;
        left: 92.2%;
        transform: translate(-50%, -50%);
    }
    .footer_center{
        color: white;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .h-footer{
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 1300px;
        border-width: 80%;
        padding-top: 30px;
        padding-bottom:150px;
        border-top: solid;
        border-color: var(--b--color);
        background-color: var(--footer);
        color: white;
    }
    .left_footer_top{
        position: absolute;
        top: 60%;
        left: 3%;
    }
    .left_footer_bottom{
        position: absolute;
        top: 40%;
        left: 3%;
    }
  }

  /* CIRCULO */
  .circle {
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: linear-gradient(45deg, #c594ee 60%, #c9d9df);
    animation: animation 6s linear infinite;
    animation-delay: 1ms;
}

.inspire_expire::after{
  content: "";
	animation: spin 6s infinite;
}

.border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: solid 5px white;
}

span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #36015d;
    font-size: 65px;
}
  
@keyframes animation {
    0%, 25% {
      transform: scale(1);
    }
    25%, 50% {
      transform: scale(1.1);
    }
  }

  @keyframes spin {
    0% { content:"Inspire"; }
    100% { content:"Expire"; }
  }
